<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="<%= asset_path('TwitterStocksLogo.png') %>">
    </a>
    <h1>Welcome to Twitter Stocks</h1>
    <p>Please sign in with your Twitter account to start using the app</p>
    <a type="button" class="btn btn-lg btn-default" href="/profile"><span class="glyphicon glyphicon-flash"></span>Sign in with Twitter</a>
  </div>
</div>
